<form action="/puppy" method="post" class="create-puppy">
  <div class="create-puppy">
    <label>name: </label>
    <input type="text" name="name" id="name-id" required>
  </div>
  <div class="create-puppy">
    <label>breed: </label>
    <input type="text" name="breed" id="breed-id" required>
  </div>
  <div class="create-puppy">
    <label>age: </label>
    <input type="text" name="age" id="age-id" required>
  </div>
  <div class="create-puppy">
    <input type="submit" value="submit">
  </div>
</form>
