<h1>Listing puppies </h1>
<form action='/' method='POST'>
  <p> Name: <input type="text" name="name"></p>
<p> Breed:<input type="text" name="breeed"></p>
<p> Age:<input type="text" name="age"></p>
<input type="submit" id="submit">
</form>
