<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Puppy For Adoption</title>
</head>
<body>
  <form  action="/new" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id= "name">
    </p>
    <p>
      <label for="name">Breed</label>
      <input type="text" name="breed" id="breed">
    </p>
    <p>
      <label for="name">Age</label>
      <input type="text" name="age" id="age">
    </p>
    <p>
      <input type="submit" name="submit" value="submit">
    </p>
  </form>
</body>
</html>
