<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Puppy Adoption Site</title>
</head>
<body>
  <h1><%= "Puppy Name: #{@name}"%></h1>
  <h2><%= "Puppy Breed: #{@breed}"%></h2>
  <h3><%= "Puppy Age: #{@age}"%></h3>
</body>
</html>
